@page "{currentpage=1}/{sortby=Id}"
@model FunEvents.Pages.Events.IndexModel
@{
}

<div>

</div>
<div>
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="./Index" asp-all-route-data="@(new Dictionary<string, string>
               {{ "currentpage", i.ToString() }, { "sortby", Model.SortBy }})"
                   class="page-link">@i</a>
            </li>
        }
    </ul>
</div>

