@page
@model FunEvents.Pages.Errors.NotFoundModel
@{
}

<h1>There was a problem</h1>
<h3>Seems like our servers didn't quiet catch that</h3>
<h5>Please try again in a few minutes and/or try logging out and back in.</h5>
<h5>If all else fails, call 6996-420-BLAZE</h5>