@model FunEvents.Pages.IndexModel
@{
}

<h1>Congrats, you're Organization have been initialized</h1>
<h3>Please submit your organization info</h3>
<h3><i>We need to validate your information before you can start creating events</i></h3>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page-handler="VerifyOrganization">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrganizationToBeValidated.Id" />
            <div class="form-group">
                <label asp-for="OrganizationToBeValidated.Name" class="control-label"></label>
                <input asp-for="OrganizationToBeValidated.Name" class="form-control" />
                <span asp-validation-for="OrganizationToBeValidated.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationToBeValidated.OrganizationNumber" class="control-label"></label>
                <input asp-for="OrganizationToBeValidated.OrganizationNumber" class="form-control" />
                <span asp-validation-for="OrganizationToBeValidated.OrganizationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationToBeValidated.PhoneNumber" class="control-label"></label>
                <input asp-for="OrganizationToBeValidated.PhoneNumber" class="form-control" />
                <span asp-validation-for="OrganizationToBeValidated.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationToBeValidated.Email" class="control-label"></label>
                <input asp-for="OrganizationToBeValidated.Email" class="form-control" />
                <span asp-validation-for="OrganizationToBeValidated.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
