@model FunEvents.Pages.IndexModel
@{
}

<h1>Congrats, you're Organization have been initialized</h1>
<h3>Please submit your organization info</h3>
<h3><i>We need to validate your information before you can start creating events</i></h3>

