@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>This is the place where you can find crazy events happening near you!</h4>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                <a class="btn btn-primary" asp-page="Events/Index">Find A New Event</a>
            </div>
        }
        else
        {
            <div>
                <a class="btn btn-primary" asp-area="Identity" asp-page="Account/Register">Register</a>
                <a class="btn btn-primary" asp-area="Identity" asp-page="Account/Login">Log In</a>
            </div>
        }
    </div>
</div>
