@model FunEvents.Pages.AccountManagement.OrganizationRolesManagerModel
@{
}
<div class="col">
    <select name="organization">
        @foreach (var selects in Model.OrganizationsWhereUserIsManager)
        {
            <option value="@selects.Id">@selects.Name</option>
        }
    </select>
</div>